*{
    margin: 0;
    padding: 0;
}
body {
  height: 100vh;
  overflow: hidden;
  background-color: #0e0b16;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Question Card Style */
.card {
  margin-top: 25px;
}
.slick-slide {
  transform: scale(0.8);
  opacity: 0.3;
  transition: all ease 0.5s;
  box-sizing: border-box;
  width: 625px;
  height: 425px;
}
.slick-slide.slick-current {
  opacity: 1;
  transform: scale(1);
}
.item {
  padding: 15px;
  outline: none;
  background: #efefef;
  border-radius: 15px;
  box-shadow: 4px 12px 32px rgba(0,0,0, .1);
}

/* Inner Card Style */
.item-inner {
  padding: 25px 30px;
}
.item-inner h1 {
  font-size: 3em;
  text-align: left;
}
.item-inner h2, h4 {
  text-align: center;
  font-size: 1.953em;
  color: #a9a9a9;
}
.item-inner p {
  line-height: 1em;
  font-size: 1.563em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(black, 0.8);
}

.item-inner label {
  width: 100%;
  font-size: 1.25em;
  padding: 10px 0;
  margin-top: 10px;
}

.item-inner input {
  margin-top: 15px;
  margin-right: 5px;
}

.item-inner input[type=submit] {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  display: block;

  font-size: 0.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  background: #51d0de;

  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.item-inner input[class="save-answer"] {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -75px;

}

.item-inner input[type=submit]:hover {
  background: #d9d9d9;
  color: #51d0de;
  transition: 0.3s
}

.submit {
  font-size: 3.052em;
  padding-top: 100px;
}




/* Slider Control */
.slider .next-arrow, .slider .prev-arrow {
  position: absolute;
  bottom: 0;
  z-index: 99;

  background: #fff;
  color: #464646;
  box-shadow: 2px 4px 6px rgba(0,0,0, .1);

  border: none;
  border-radius: 50%;
  outline: none;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  height: 40px;
  width: 40px;

  cursor: pointer;
  transition: 0.3s;
}
.slider .next-arrow {
  right: 40%
}
.slider .prev-arrow {
  left: 40%
}
.slider .prev-arrow:hover,
.slider .next-arrow:hover {
  background-color: #51def9;
  color: #fff;
}
.slick-list {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}