*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  background: url(ignasi_pattern_s.png);
}

/* Question Card Style */
#intro {
  position: fixed;
  width: 25%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(to right rgb(81, 208, 222, 0.8), rgb(255, 245, 245, 0.8)) ;
  backdrop-filter: blur(1px);
  
  box-shadow: 4px 12px 32px rgba(0,0,0, .1);
}
#main {
  padding-left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}
#intro .container {
  padding: 0px 10% 20%;
}
.quiz-container{
  padding: 40px;
  height: 500px;
  width: 700px;

  outline: none;
  background-color: rgba(255, 245, 245, 0.2);
  backdrop-filter: blur(1px);
  border-radius: 15px;
  box-shadow: 4px 12px 32px rgba(0,0,0, .1);
}
#quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85%;
  padding: 10px 20px;
}
/* Inner Card Style */
h1,h2,h4 {
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-size: 3em;
  color: #51d0de;
  font-weight: bold;
}
h1, h2, #intro p {
  text-align: right;
  padding: 10px 0px;
}
h2 {
  font-size: 1.6em;
  padding: 6px 0px;
}
h4 {
  font-size: 2.1em;
  line-height: 2em;
  text-align: center;
}
#quiz p {
  padding: 20px 0px;
  line-height: 1.2em;
  font-size: 1.3em;
  color: rgba(black, 0.8);
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li,p {
  font-family: 'Lato',sans-serif;
  letter-spacing: 1px;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: left;

  margin-bottom: 10px;
}
label {
  margin-left: 5px;
}
.button {
  cursor: pointer;

  outline: none;
  position: relative;

  background-color: #51d0de;
  border: none;
  outline: none;
  
  width: 50px;
  height: 50px;

  text-align: center;
}
.button:hover {
  background: transparent;
  color: #51d0de;
  transition: 0.5s;
  border: 2px solid rgb(81, 208, 222);
}
#prev, #next {
  outline: none;
  border: none;
  
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.prev-arrow, .next-arrow {
  line-height: 50px;
  color: rgba(0,0,0, .8);
}
#prev {
  display:none;
  float: left;
}
#next {
  float: right;
}
#start {
  display: none;
  width: 100%;
  
  border-radius: 20px;
  padding: 15px;
}
#start a {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 1em;
  color: black;
}