*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  background: url(ignasi_pattern_s.png);
}

/* Question Card Style */
#intro {
  position: fixed;
  width: 25%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 245, 245, 0.1);
  backdrop-filter: blur(1px);
  
  box-shadow: 4px 12px 32px rgba(0,0,0, .1);
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 75%;
  height: 100vh;
}
#intro .container {
  padding:10%;
}
.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;

  padding: 30px;
  width: 650px;

  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  border-radius: 15px;
  box-shadow: 4px 12px 32px rgba(0,0,0, .1);
}
.quiz-container{
  position: fixed;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Inner Card Style */
h1,h2,h4,p {
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-size: 2.6em;
  color: #51d0de;
  padding-bottom: 20px;
  font-weight: bold;
}
h1, h2, p {
  text-align: right;
}
h2, h4 {
  font-size: 1.25em;
}
h2 {
  padding-top: 10px;
}
p {
  padding-top: 30px;
  line-height: 1.2em;
  font-size: 1em;
  color: rgba(black, 0.8);
}
.answers label {
  display: block;
  font-family: 'Lato',sans-serif;
  font-size: 1em;
  margin-top: 10px;
  line-height: 1em;
}
.answers {
  margin-top: 10px;
  text-align: left;
  display: inline-block;
}
#submit {
  cursor: pointer;

  font-size: 0.679em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  background: #51d0de;

  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
}

#submit:hover {
  background: #fff;
  color: #51d0de;
  transition: 0.5s;
}
#previous, #next {
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}
.prev-arrow, .next-arrow {
  position: absolute;
  z-index: 99;
  cursor: pointer;

  background-color: #51d0de;
  border-radius: 50%;
  border: none;
  outline: none;

  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
}