*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  justify-content: center;
  align-items: center;

  background: url(ignasi_pattern_s.png);
  background-position: unset;
}

/* Question Card Style */
#intro {
  position: fixed;
  width: 25%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(2px);
  
  box-shadow: 4px 12px 32px rgba(0,0,0, .1);
}
#main {
  margin-left: 300px;

  display: flex;
  justify-content: center;
  position: relative;
  float: right;

  width: 75%;
  height: 100vh;
}
.item {
  width: 600px;
  height: 100%;
  padding: 35px;
  margin-top: 30px;

  outline: none;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 4px 12px 32px rgba(0,0,0, .1);

  display: flex;
  flex-direction: column;
}
#intro .container {
  padding:10%;
}
/* Inner Card Style */
h1,h2,h4,p {
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-size: 2.6em;
  color: #51d0de;
  padding-bottom: 20px;
  font-weight: bold;
}
h1, h2, p {
  text-align: right;
}
h2, h4 {
  font-size: 1.25em;
}
h2 {
  padding-top: 10px;
}
p {
  padding-top: 30px;
  line-height: 1.2em;
  font-size: 1em;
  color: rgba(black, 0.8);
}
label {
  font-family: 'Lato',sans-serif;
  font-size: 1em;
  padding: 10px 0;
  margin-top: 10px;
}

input {
  margin-top: 20px;
  margin-right: 5px;
}

#submit {
  margin-left: auto;
  margin: 20px 0px;
  display: block;
  cursor: pointer;

  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  background: #51d0de;

  outline: none;
  border: none;
  padding: 20px 30px;
  border-radius: 30px;
}

#submit:hover {
  background: #fff;
  color: #51d0de;
  transition: 0.5s;
}